.container {
    max-width: $largura_container;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: 768px){
        grid-template-columns: 1fr;
    }
}