.relogios{
    width: 100%;
    height: 50%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 75px;
}

.relogios h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #16542a;
}

.card{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.card div{
    width: 20%;
    height: 90%;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0  10px rgba(0,0,0,0.2);

}

.card div img{
    width: 75%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0  10px rgba(0,0,0,0.2);
    margin-top: 40px;
}

.card .info{
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
}

.card .info h2{
    font-size: 18px;
    color: #49af05;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.card .info h4{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
}

.card button{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0  10px rgba(0,0,0,0.2);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.card button:hover{
    background-color: #58ce0a;
    transform: scale(1.1);
    transition: all 0.3;
    color: #fff;
}
